:root {
  --color-nav-bg: #ffbe00;
  --color-nav-fg: #666; 

  --color-mtn:  #FFCB06;

  --calendar-event-background-color:  var(--color-mtn);
  --v-work-header-background-color: var(--color-mtn);

}
body {
  background-color: #fffff8;
}
